.advantages {
  padding: 0 30px;
  margin-bottom: 56px;
  outline: 1px solid green;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: @color-black;
}

.advantages__title {
  margin-bottom: 34px;
  font-size: 25px;
  line-height: 30px;
}

.advantages__list {
  list-style: none;
  padding: 0;
}

.advantages__item {
  padding-top: 50px;
  margin-bottom: 33px;
}
