.advantages {
  box-sizing: border-box;
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 53px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: @color-black;
}

@media @tablet-widths {
  .advantages {
    width: 768px;
    padding: 0 50px;
    margin-bottom: 26px;
  }
}

@media @desktop-widths {
  .advantages {
    width: 1150px;
    margin-bottom: 30px;
    padding: 0 225px;
    padding-top: 83px;
  }
}

.advantages__title {
  margin-bottom: 34px;
  font-size: 25px;
  line-height: 30px;
}

@media @tablet-widths {
  .advantages__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media @desktop-widths {
  .advantages__title {
    font-size: 53px;
    line-height: 57px;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
}

@media @tablet-widths {
  .advantages__list {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    max-height: 530px;
  }
}

.advantages__item {
  position: relative;
  padding-top: 50px;
  margin-bottom: 33px;
}

.advantages__item::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 7px;
  width: 33px;
  height: 38px;
  background: url('../img/icon-feature-1.svg') no-repeat;
}

.advantages__item--cash::before {
  left: 1px;
  width: 47px;
  height: 27px;
  background: url('../img/icon-feature-3.svg') no-repeat;
}

.advantages__item--heart::before {
  left: 7px;
  top: 1px;
  width: 34px;
  height: 27px;
  background: url('../img/icon-feature-5.svg') no-repeat;
}

.advantages__item--ball::before {
  left: 5px;
  top: 1px;
  width: 35px;
  height: 34px;
  background: url('../img/icon-feature-2.svg') no-repeat;
}

.advantages__item--rocket::before {
  left: -5px;
  top: 1px;
  width: 55px;
  height: 23px;
  background: url('../img/icon-feature-4.svg') no-repeat;
}

.advantages__item--present::before {
  left: 3px;
  top: -1px;
  width: 33px;
  height: 32px;
  background: url('../img/icon-feature-6.svg') no-repeat;
}

@media @tablet-widths {
  .advantages__item {
    width: 330px;
    font-size: 20px;
    line-height: 22px;
    padding-top: 52px;
    margin-bottom: 59px;
  }
}
