.catalog-item {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 260px;
  border: 1px solid @color-grey-light;
}

@media @tablet-widths {
  .catalog-item {
    display: flex;
    outline: 1px solid red;
    padding: 0 50px;
    width: auto;
  }
}

@media @desktop-widths {
  .catalog-item {
    flex-direction: column;
    padding: 0;
    padding-bottom: 25px;
    margin: 0;
  }
}

.catalog-item__picture {
  margin-bottom: 26px;
  width: 260px;
  height: 195px;
  outline: 1px solid blue;
}

@media @tablet-widths {
  .catalog-item__picture {
    height: 334px;
    width: 334px;
    outline: 1px solid blue;
  }
}

@media @desktop-widths {
  .catalog-item__picture {
    margin-bottom: 25px;
    width: 316px;
    height: 462px;
  }
}

.catalog-item__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid black;
  padding-bottom: 27px;
}

@media @tablet-widths {
  .catalog-item__description {
    align-items: flex-start;
    width: 278px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 25px;
  }
}

@media @desktop-widths {
  .catalog-item__description {
    width: 256px;
    padding: 0 30px;;
  }
}

.catalog-item__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0 28px;
  width: 204px;
  text-align: left;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @color-black;
  outline: 1px solid blue;
}

@media @tablet-widths {
  .catalog-item__title {
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
    width: auto;
    font-size: 20px;
  }
  .catalog-item__title--narrow {
    max-width: 205px;
  }
}

.catalog-item__properties {
  margin-bottom: 22px;
  padding-bottom: 18px;
  width: 204px;
  text-align: left;
  font-size: 13px;
  line-height: 30px;
  color: @color-grey;
  border-bottom: 1px solid @color-grey-light;
  outline: 1px solid blue;
}

@media @tablet-widths {
  .catalog-item__properties {
    margin-bottom: 180px;
    width: auto;
    font-size: 15px;
  }
  .catalog-item__properties--high {
    margin-bottom: 154px;
  }
}

@media @desktop-widths {
  .catalog-item__properties {
    margin-bottom: 45px;
  }
  .catalog-item__properties--high {
    margin-bottom: 20px;
  }
}

.catalog-item__price {
  width: 204px;
  text-align: left;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: @color-black;
  outline: 1px solid blue;
}

@media @tablet-widths {
  .catalog-item__price {
    font-size: 17px;
    width: auto;
  }
}
