.catalog-page {
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
}

@media @tablet-widths {
  .catalog-page {
    width: auto;
  }
}

@media @desktop-widths {
  .catalog-page {
    width: auto;
  }
}

.catalog-page__hero {
  margin-bottom: 30px;
  padding-top: 72px;
  padding-bottom: 75px;
  background-color: @color-grey-light2;
}

@media @tablet-widths {
  .catalog-page__hero {
    z-index: -1;
    position: relative;
    padding-top: 95px;
    margin-top: -40px;
    margin-bottom: 82px;
    border-top: 1px solid @color-grey-light;;
  }
  .catalog-page__hero::after {
    content: '';
    position: absolute;
    bottom: -13px;
    left: 50%;
    width: 768px;
    height: 24px;
    margin-left: -384px;
    background: url('../img/bg-zigzag-fill.svg') no-repeat;
    background-size: 768px auto;
  }
}

@media @desktop-widths {
  .catalog-page__hero {
    margin-bottom: 130px;
    padding-bottom: 100px;
  }
  .catalog-page__hero::after {
    bottom: -18px;
    width: 1150px;
    height: 34px;
    margin-left: -575px;
    background: url('../img/bg-zigzag-fill.svg') repeat;
    background-size: 1150px auto;
  }
}

.catalog-page__hero-text {
  margin: 0;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: @color-black;
}

@media @tablet-widths {
  .catalog-page__hero-text {
    font-size: 43px;
    line-height: 50px;
  }
}

@media @desktop-widths {
  .catalog-page__hero-text {
    font-size: 53px;
    line-height: 57px;
  }
}
