.catalog-page {
  margin: 0 auto;
  width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
}

@media @tablet-widths {
  .catalog-page {
    width: 768px;
  }
}

@media @desktop-widths {
  .catalog-page {
    width: 1150px;
  }
}

.catalog-page__hero {
  margin-bottom: 30px;
  padding-top: 72px;
  padding-bottom: 75px;
  background-color: @color-grey-light2;
  outline: 1px solid green;
}

@media @tablet-widths {
  .catalog-page__hero {
    padding-top: 95px;
    margin-bottom: 84px;
  }
}

@media @desktop-widths {
  .catalog-page__hero {
    margin-bottom: 155px;
  }
}

.catalog-page__hero-text {
  margin: 0;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: @color-black;
}

@media @tablet-widths {
  .catalog-page__hero-text {
    font-size: 43px;
    line-height: 50px;
  }
}

@media @desktop-widths {
  .catalog-page__hero-text {
    font-size: 53px;
    line-height: 57px;
  }
}
