@media @tablet-widths {
  .catalog-items {
    box-sizing: border-box;
    width: 768px;
    margin: 0 auto;
  }
}

@media @desktop-widths {
  .catalog-items {
    width: 1150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 59px;
  }
}
