.contacts {
  box-sizing: border-box;
  width: 320px;
  padding-top: 30px;
  margin: 0 auto;
  margin-bottom: 40px;
  min-height: 305px; /*temporary*/
  font-size: 15px;
  line-height: 30px;
  color: @color-grey;
  outline: 1px solid black;
}

@media @tablet-widths {
  .contacts {
    width: 768px;
    padding-top: 78px;
    min-height: 280px; /*temporary*/
  }
}

@media @desktop-widths {
  .contacts {
    width: 1150px;
    position: relative;
    display: flex;
    padding: 0 50px;
    padding-top: 93px;
    margin-bottom: 109px;
    font-size: 17px;
    line-height: 30px;
    min-height: 300px; /*temporary*/
  }
}

.contacts__info {
  padding: 0 30px;
  margin-bottom: 40px;
  outline: 1px solid red;
}

@media @tablet-widths {
  .contacts__info {
    padding: 0 50px;
    margin-bottom: 56px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media @desktop-widths {
  .contacts__info {
    margin-bottom: 0;
    padding-top: 70px;
    padding-left: 173px;
    padding-right: 20px;
    width: 335px;
  }
}
.contacts__title {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @color-black;
}

@media @tablet-widths {
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 48px;
  }
}

@media @desktop-widths {
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 47px;
  }
}

.contacts__email {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  margin-right: 27px;
  outline: 1px solid red;
}

@media @tablet-widths {
  .contacts__email {
    margin-right: 25px;
  }
}

.contacts__email-link {
  outline: 1px solid red;
}

@media @tablet-widths {
  .contacts__email-link {
    margin-right: 45px;
  }
}

.contacts__address {
  display: inline-block;
  vertical-align: top;
  margin-right: 27px;
  outline: 1px solid red;
}

@media @tablet-widths {
  .contacts__address {
    margin-right: 23px;
  }
}

@media @desktop-widths {
  .contacts__address {
    margin-right: 20px;
  }
}

.contacts__address-full {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 150px;
  outline: 1px solid red;
}

@media @tablet-widths {
  .contacts__address-full {
    width: 225px;
  }
}

.contacts__map {
  margin-bottom: 36px;
  width: 320px;
  height: 457px;
  outline: 1px solid purple;
  background: url('../img/map-mobile@1x.jpg') no-repeat;
  background-position: center;
}

@media @tablet-widths {
  .contacts__map {
    margin-bottom: 57px;
    width: 768px;
  }
}

@media @desktop-widths {
  .contacts__map {
    width: 525px;
    margin: 0;
  }
}

.contacts__contact-us {
  box-sizing: border-box;
  width: 260px;
  text-decoration: none;
}

@media @tablet-widths {
  .contacts__contact-us {
    width: 230px;
    margin-bottom: 60px;
  }
}

@media @desktop-widths {
  .contacts__contact-us {
    position: absolute;
    bottom: 0;
    left: 225px;
    margin: 0;
    padding-top: 17px;
  }
}
