.contacts {
  box-sizing: border-box;
  width: 320px;
  padding-top: 30px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 30px;
  color: @color-grey;
}

@media @tablet-widths {
  .contacts {
    position: relative;
    width: 768px;
    padding-top: 78px;
  }
  .contacts::before {
    content: '';
    position: absolute;
    top: 62px;
    right: 55px;
    width: 47px;
    height: 81px;
    background: url('../img/icon-flag.svg') no-repeat;
    background-size: 47px 81px;
  }
}

@media @desktop-widths {
  .contacts {
    width: 1150px;
    position: relative;
    display: flex;
    padding: 0 50px;
    padding-top: 93px;
    margin-bottom: 105px;
    font-size: 17px;
    line-height: 30px;
  }
  .contacts::before {
    top: 157px;
    right: auto;
    left: 115px;
  }
}

.contacts__info {
  padding: 0 30px;
  margin-bottom: 40px;
}

@media @tablet-widths {
  .contacts__info {
    padding: 0 50px;
    margin-bottom: 56px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media @desktop-widths {
  .contacts__info {
    margin-bottom: 0;
    padding-top: 72px;
    padding-left: 173px;
    padding-right: 20px;
    width: 335px;
  }
}
.contacts__title {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @color-black;
}

@media @tablet-widths {
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 48px;
  }
}

@media @desktop-widths {
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 47px;
  }
}

.contacts__email {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  margin-right: 27px;
}

@media @tablet-widths {
  .contacts__email {
    margin-right: 25px;
  }
}

.contacts__email-link {
  padding-bottom: 3px;
  text-decoration: none;
  color: @color-grey;
  border-bottom: 1px solid @color-aquamarine-medium;
}

.contacts__email-link:hover {
  color: @color-aquamarine-medium;
}

.contacts__email-link:active {
  opacity: 0.3;
}

@media @tablet-widths {
  .contacts__email-link {
    margin-right: 45px;
  }
}

.contacts__address {
  display: inline-block;
  vertical-align: top;
  margin-right: 27px;
}

@media @tablet-widths {
  .contacts__address {
    margin-right: 23px;
  }
}

@media @desktop-widths {
  .contacts__address {
    margin-right: 20px;
  }
}

.contacts__address-full {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 150px;
}

@media @tablet-widths {
  .contacts__address-full {
    width: 225px;
  }
}

.contacts__map {
  margin-bottom: 36px;
  width: 320px;
  height: 457px;
  background: url('../img/map-mobile@1x.jpg') no-repeat;
  background-position: center;

  @media @retina {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

@media @tablet-widths {
  .contacts__map {
    margin-bottom: 57px;
    width: 768px;
    background-image: url("../img/map-tablet@1x.jpg");
  }

  @media @retina {
    background-image: url("../img/map-tablet@2x.jpg");
    background-size: 768px auto;
  }
}

@media @desktop-widths {
  .contacts__map {
    width: 525px;
    margin: 0;
    background-image: url("../img/map-desktop@1x.jpg");
  }

  @media @retina {
    background-image: url("../img/map-desktop@2x.jpg");
    background-size: 525px auto;
  }
}

.contacts__contact-us {
  box-sizing: border-box;
  width: 260px;
  text-decoration: none;
}

@media @tablet-widths {
  .contacts__contact-us {
    width: 230px;
    margin-bottom: 60px;
  }
}

@media @desktop-widths {
  .contacts__contact-us {
    position: absolute;
    bottom: 0;
    left: 225px;
    margin: 0;
    padding-top: 17px;
  }
}
