.copyright {
  padding: 0 30px;
  background-color: @color-grey-light2;
  outline: 1px solid red;
}

.copyright__title {
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 39px;
  font-size: 19px;
  line-height: 18px;
}
