.copyright {
  padding: 0 30px;
  padding-top: 12px;
  padding-bottom: 18px;
  background-color: @color-grey-light2;
  outline: 1px solid red;
}

@media @tablet-widths {
  .copyright {
    display: inline-block;
    text-align: top;
    padding: 0;
  }
}

.copyright__title {
  padding-left: 39px;
  font-size: 19px;
  line-height: 18px;
}

@media @tablet-widths {
  .copyright__title {
    padding: 0;
    padding-right: 58px;
  }
}
