.form-page {
  margin: 0 auto;
  width: auto;
  font-family: "Open Sans", "Arial", sans-serif;
}

@media @tablet-widths {
  .form-page {
    width: auto;
  }
}

.form-page__hero {
  margin-bottom: 23px;
  padding-top: 72px;
  padding-bottom: 75px;
  background-color: @color-grey-light2;
}

@media @tablet-widths {
  .form-page__hero {
    margin-top: -40px;
    margin-bottom: 76px;
    padding-top: 93px;
    padding-bottom: 80px;
  }
}

@media @desktop-widths {
  .form-page__hero {
    margin-bottom: 146px;
  }
}

.form-page__hero-text {
  margin: 0;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: @color-black;
}

@media @tablet-widths {
  .form-page__hero-text {
    font-size: 43px;
    line-height: 50px;
  }
}

@media @desktop-widths {
  .form-page__hero-text {
    font-size: 53px;
    line-height: 57px;
  }
}
