.index-page {
  margin: 0 auto;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
}

@media @tablet-widths {
  .index-page {
    width: auto;
  }
}

@media @desktop-widths {
  .index-page {
  width: auto;
  }
}
