.order-form {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 56px;
  border: none;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: @color-black;
}

@media @tablet-widths {
  .order-form {
    box-sizing: border-box;
    width: 768px;
    margin-bottom: 52px;
    font-size: 19px;
  }
}

@media @desktop-widths {
  .order-form {
    width: 1150px;
    margin-bottom: 53px;
  }
}

.order-form_description {
  margin: 0;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: @color-grey;
}

@media @tablet-widths {
  .order-form_description {
    margin-bottom: 55px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media @desktop-widths {
  .order-form_description {
    padding: 0 225px;
  }
}

.order-form__field {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

@media @tablet-widths {
  .order-form__field {
    flex-direction: row;
    padding: 0 50px;
    border: none;
  }
}

.order-form__field--type {
  margin-bottom: 30px;
}

.order-form__field--color {
  margin-bottom: 14px;
}

@media @tablet-widths {
  .order-form__field--color {
    margin-bottom: 12px;
    padding-top: 46px;
    padding-bottom: 28px;
    background-color: @color-grey-light2;
  }
}

.order-form__field--name {
  margin-bottom: 10px;
}

@media @tablet-widths {
  .order-form__field--name {
    margin-bottom: 27px;
    padding-top: 38px;
  }
}

.order-form__field--phone {
  margin-bottom: 10px;
}

@media @tablet-widths {
  .order-form__field--phone {
    padding-top: 46px;
    margin-bottom: 0;
    padding-bottom: 2px;
    background-color: @color-grey-light2;
  }
}

.order-form__field--email {
  margin-bottom: 9px;
}

@media @tablet-widths {
  .order-form__field--email {
    padding-bottom: 25px;
    margin-bottom: 54px;
    background-color: @color-grey-light2;
  }
}

@media @tablet-widths {
  .order-form__field--additional {
    padding-bottom: 0;
    margin-bottom: 55px;
  }
}

@media @desktop-widths {
  .order-form__field--additional {
    margin-bottom: 51px;
  }
}

.order-form__field input[type="text"],
.order-form__field input[type="tel"],
.order-form__field input[type="email"] {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: @color-grey;
  border: none;
  border-bottom: 2px solid @color-black;
  outline: none;
}

.order-form__field input[type="tel"] {
  background-image: url('../img/icon-phone.svg');
  background-repeat: no-repeat;
  background-position: right 7px top 3px;
}

.order-form__field input[type="email"] {
  background-image: url('../img/icon-mail.svg');
  background-repeat: no-repeat;
  background-position: right 4px top 3px;
}

@media @tablet-widths {
  .order-form__field input[type="tel"] {
    background-position: right 25px top 50%;
    background-color: @color-grey-light2;
  }
  .order-form__field input[type="email"] {
    background-position: right 20px top 50%;
    background-color: @color-grey-light2;
  }
}

@media @desktop-widths {
  .order-form__field input[type="tel"] {
    background-position: right 8px top 50%;
  }
  .order-form__field input[type="email"] {
    background-position: right 5px top 50%;
  }
}

.order-form__field input[type="tel"]:hover {
  background-image: url('../img/icon-phone_hvr.svg');
}

.order-form__field input[type="email"]:hover {
  background-image: url('../img/icon-mail_hvr.svg');
}

.order-form__field input[type="text"]:hover,
.order-form__field input[type="tel"]:hover,
.order-form__field input[type="email"]:hover {
    border-color: @color-aquamarine-medium;
}

.order-form__field input[type="text"]:focus,
.order-form__field input[type="tel"]:focus,
.order-form__field input[type="email"]:focus {
    border-color: @color-aquamarine-medium;
}

@media @tablet-widths {
  .order-form__field input[type="text"],
  .order-form__field input[type="tel"],
  .order-form__field input[type="email"], {
    font-size: 19px;
  }
}

.order-form__field--name input[type="text"] {
  height: 48px;
  width: 260px;
}

@media @tablet-widths {
  .order-form__field--name input[type="text"] {
    display: block;
    width: 100%;
    margin: 0;
    margin-right: 0;
    margin-bottom: 26px;
    padding-left: 20px;
  }
}

@media @desktop-widths {
  .order-form__field--name input[type="text"] {
    width: 100%;
  }
}

.order-form__field--phone input[type="tel"] {
  padding-bottom: 15px;
  padding-top: 7px;
  width: 260px;
  text-transform: uppercase;
}

@media @tablet-widths {
  .order-form__field--phone input[type="tel"] {
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 15px;
    width: 501px;
  }
}

@media @desktop-widths {
  .order-form__field--phone input[type="tel"] {
    width: 700px;
  }
}

.order-form__field--email input[type="email"] {
    padding-bottom: 14px;
    padding-top: 7px;
    width: 260px;
}

@media @tablet-widths {
  .order-form__field--email input[type="email"] {
    box-sizing: border-box;
    padding-left: 20px;
    width: 501px;
    padding-top: 13px;
  }
}

@media @desktop-widths {
  .order-form__field--email input[type="email"] {
    width: 700px;
  }
}

.order-form__textarea {
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 17px;
  width: 100%;
  min-height: 142px;
  color: @color-grey;
  border: 2px solid @color-black;
  outline: none;
}

.order-form__textarea:hover {
  border-color: @color-aquamarine-medium;
}

.order-form__textarea:focus {
  border-color: @color-aquamarine-medium;
}

@media @tablet-widths {
  .order-form__textarea {
    display: block;
    margin: 0;
    width: 501px;
  }
}

@media @desktop-widths {
  .order-form__textarea {
    width: 700px;
  }
}

.order-form__fieldset-name {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  width: 260px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: @color-aquamarine-medium;
}

.order-form__fieldset-name::after {
  content: '';
  position: absolute;
  width: 198px;
  height: 1px;
  top: 7px;
  left: 60px;
  background: @color-aquamarine-medium;
}

.order-form__fieldset-name--email::after {
  content: '';
  position: absolute;
  width: 180px;
  height: 1px;
  top: 7px;
  left: 80px;
  background: @color-aquamarine-medium;
}


@media @tablet-widths {
  .order-form__fieldset-name {
    margin: 0;
    width: 167px;
    padding-top: 19px;
  }
  .order-form__fieldset-name::after {
    content: none;
  }
}

@media @desktop-widths {
  .order-form__fieldset-name {
    box-sizing: border-box;
    width: 175px;
    padding-left: 60px;
  }
}

.order-form__fieldset-name--name {
  margin-bottom: 30px;
}

.order-form__fieldset-name--phone,
.order-form__fieldset-name--email {
  margin-bottom: 18px;
}

.order-form__fieldset-name--additional {
  margin-bottom: 26px;
}

@media @tablet-widths {
  .order-form__options--color {
    display: flex;
    flex-basis: 501px;
    flex-wrap: wrap;
    padding: 0;
  }

  @media @desktop-widths {
    .order-form__options--color {
      flex-basis: 875px;
    }
  }
  .order-form__options--name {
    box-sizing: border-box;
    width: 501px;
    font-size: 19px;
    line-height: 18px;
  }
}

@media @desktop-widths {
  .order-form__options--name {
    width: 700px;
  }
}

.order-form__label-radio {
  position: relative;
  display: block;
  text-align: left;
  padding: 12px 38px 12px 62px;
  cursor: pointer;
}

@media @tablet-widths {
  .order-form__label-radio {
    padding: 0;
    padding-top: 18px;
    padding-bottom: 40px;
    padding-left: 80px;
  }
}

.order-form__label-checkbox {
  position: relative;
  box-sizing: border-box;
  display: block;
  margin-bottom: 17px;
  padding: 13px 40px 13px 62px;
  cursor: pointer;
}

@media @tablet-widths {
  .order-form__label-checkbox {
    width: 150px;
    padding-bottom: 19px;
    padding-top: 18px;
    padding-left: 82px;
    padding-right: 18px;
    margin-bottom: 21px;
  }
  .order-form__label-checkbox--color {
    box-sizing: border-box;
    width: 250px;
  }
  .order-form__label-checkbox--color:nth-child(even) {
    padding-left: 92px;
  }
}

@media @desktop-widths {
  .order-form__label-checkbox--color,
  .order-form__label-checkbox--color:nth-child(even) {
    padding-left: 82px;
    margin-right: 11px;
  }
}

.order-form__label-radio input[type="radio"] {
  width: 0;
  height: 0;
  margin-left: -4px;
}

.order-form__label-radio input[type="radio"] + .order-form__radiobtn-indicator {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 2px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid @color-grey-light5;
}

@media @tablet-widths {
  .order-form__label-radio input[type="radio"] + .order-form__radiobtn-indicator {
    width: 52px;
    height: 52px;
  }
}

.order-form__label-radio input[type="radio"]:checked + .order-form__radiobtn-indicator::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  background: @color-aquamarine-medium;
}

@media @tablet-widths {
  .order-form__label-radio input[type="radio"]:checked + .order-form__radiobtn-indicator::after {
    width: 22px;
    height: 22px;
    top: 13px;
    left: 13px;
  }
}

.order-form__label-radio input[type="radio"]:hover + .order-form__radiobtn-indicator {
  border-color: @color-aquamarine-medium;
}

.order-form__label-radio input[type="radio"]:active + .order-form__radiobtn-indicator {
  border-color: @color-grey-light5;
  opacity: 0.3;
}

.order-form__label-checkbox input[type="checkbox"] {
  width: 0;
  height: 0;
  margin-left: -4px;
}

.order-form__label-checkbox input[type="checkbox"] + .order-form__checkbox-indicator {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 2px;
  width: 39px;
  height: 39px;
  border: 2px solid @color-grey-light5;
}

@media @tablet-widths {
  .order-form__label-checkbox input[type="checkbox"] + .order-form__checkbox-indicator {
    left: 2px;
    top: 2px;
    width: 52px;
    height: 52px;
  }
  .order-form__label-checkbox--color:nth-child(even) input[type="checkbox"] + .order-form__checkbox-indicator {
    left: 14px;
  }
}

@media @desktop-widths {
  .order-form__label-checkbox input[type="checkbox"] + .order-form__checkbox-indicator,
  .order-form__label-checkbox--color:nth-child(even) input[type="checkbox"] + .order-form__checkbox-indicator {
    left: 2px;
  }
}

.order-form__label-checkbox input[type="checkbox"]:hover + .order-form__checkbox-indicator {
  border-color: @color-aquamarine-medium; /*question*/
}

.order-form__label-checkbox input[type="checkbox"]:active + .order-form__checkbox-indicator {
  border-color: @color-grey-light5;
  opacity: 0.3;
}

.order-form__label-checkbox input[type="checkbox"]:checked + .order-form__checkbox-indicator {
  background: url(../img/icon-tick.svg) no-repeat;
  background-size: 25px auto;
  background-position: 4px;
}

@media @tablet-widths {
  .order-form__label-checkbox input[type="checkbox"]:checked + .order-form__checkbox-indicator {
    background: url(../img/icon-tick.svg) no-repeat;
    background-size: 35px auto;
    background-position: 4px;
  }
}

@media @tablet-widths {
  .order-form__line {
    display: flex;
    flex-basis: 501px;
  }
}

.order-form__line-name {
  display: block;
}

@media @tablet-widths {
  .order-form__line-name {
    margin-right: 25px;
    padding-top: 15px;
  }
}

@media @tablet-widths {
  .order-form__footer-wrapper {
    display: flex;
    padding: 0 50px;
  }
}

@media @desktop-widths {
  .order-form__footer-wrapper {
    padding: 0 225px;
  }
}

.order-form__legend {
  display: block;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: @color-grey;
}

@media @tablet-widths {
  .order-form__legend {
    order: 2;
    margin-bottom: 0;
    padding-top: 8px;
    font-size: 17px;
    line-height: 30px;
  }
}

.order-form__submit {
  width: 260px;
  font-size: 17px;
  line-height: 16px;
}

@media @tablet-widths {
  .order-form__submit {
    order: 1;
    width: 230px;
    margin-left: 0;
    outline: none;
  }
}

/*color for placeholder attribute*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: @color-grey-light3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: @color-grey-light3;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: @color-grey-light3;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: @color-grey-light3;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: @color-grey-light3;
}
