.page-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

@media @tablet-widths {
  .page-header {
    box-sizing: border-box;
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;
  }
}

@media @desktop-widths {
  .page-header {
    width: 1150px;
    position: relative;
    padding: 0 50px;
  }
}

.page-header__logo {
  display: block;
  height: 35px;
  width: 86px;
  margin: 0 auto;
  padding: 22px 0;
}

.page-header__logo:hover {
  opacity: 0.6;
}

.page-header__logo:active {
  opacity: 0.3;
}

@media @tablet-widths {
  .page-header__logo {
    margin-left: 0;
    padding-top: 22px;
    order: 1;
  }
  .page-header__logo img {
    width: 113px;
    height: 46px;
  }
}

@media @desktop-widths {
  .page-header__logo {
    width: 149px;
    height: 72px;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-right: 50px;
    order: 2;
  }
  .page-header__logo img {
    width: 149px;
    height: 72px;
  }
}
