.page-footer {
  display: flex;
  flex-direction: column;
  outline: 1px solid green;
}

@media @tablet-widths {
  .page-footer {
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
    padding-top: 39px;
    padding-bottom: 40px;
  }
}

@media @desktop-widths {
  .page-footer--catalog-page {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.page-footer__logo {
  display: none;
  outline: 1px solid red;
}

@media @tablet-widths {
  .page-footer__logo {
    display: block;
    margin-right: 155px;
  }
}

@media @desktop-widths {
  .page-footer__logo {
    display: block;
    margin-right: 342px;
  }
}
