.promo-video {
  position: relative;
  margin: 0 auto;
  margin-bottom: 58px;
  padding-top: 23px;
  padding-bottom: 32px;
  width: 260px;
  border: 1px solid @color-grey-light;
}

.promo-video:hover {
  box-shadow: 2px 0 20px rgba(110, 110, 110, 0.2), -2px 0 20px rgba(110, 110, 110, 0.2);
}

.promo-video:active {
  box-shadow: 2px 0 10px rgba(110, 110, 110, 0.2), -2px 0 10px rgba(110, 110, 110, 0.2);
}

@media @tablet-widths {
  .promo-video {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    width: 768px;
    padding: 0 50px;
    border: none;
  }
  .promo-video:hover,
  .promo-video:active {
    box-shadow: none;
  }
  .promo-video:hover .promo-video__description {
    box-shadow: 2px 0 20px rgba(110, 110, 110, 0.2), -2px 0 20px rgba(110, 110, 110, 0.2);
  }
  .promo-video:active .promo-video__description {
    box-shadow: 2px 0 10px rgba(110, 110, 110, 0.2), -2px 0 10px rgba(110, 110, 110, 0.2);
  }
}

@media @desktop-widths {
  .promo-video {
    width: 1150px;
    flex-direction: row;
    margin-bottom: 105px;
  }
}

.promo-video__description {
  display: flex;
  flex-direction: column;
  padding: 0 34px;
}

@media @tablet-widths {
  .promo-video__description {
    box-sizing: border-box;
    width: 668px;
    padding: 0 42px;
    padding-top: 35px;
    padding-bottom: 42px;
    border: 1px solid @color-grey-light;
  }
}

@media @desktop-widths {
  .promo-video__description {
    padding: 0;
    padding-left: 78px;
    padding-right: 62px;
    padding-top: 40px;
    width: 370px;
  }
}

.promo-video__title {
  margin: 0;
  margin-bottom: 202px;
  padding-left: 58px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @color-black;
  background-image: url('../img/icon-video.svg');
  background-repeat: no-repeat;
  background-position: top 5px left;
  background-size: 32px auto;
}

@media @tablet-widths {
  .promo-video__title {
    margin-bottom: 32px;
    padding-left: 65px;
    font-size: 20px;
    background-position: top -5px left;
  }
}

@media @desktop-widths {
  .promo-video__title {
    padding: 0;
    padding-top: 55px;
    margin-bottom: 33px;
    background-position: top 1px left;
  }
}

.promo-video__video {
  position: absolute;
  z-index: 10;
  top: 96px;
  left: 0;
  margin-bottom: 24px;
  width: 260px;
  height: 150px;
}

.promo-video__video::after {
  content: '';
  position: absolute;
  width: 260px;
  height: 150px;
  top: 0;
  background: url('../img/icon-play.svg') no-repeat;
  background-position: center;
  background-size: 102px 78px;
}

.promo-video__video:hover::after {
  background-size: 122px 94px;
}

.promo-video__video:active::after {
  background-size: 82px 62px;
  opacity: 0.3;
}

@media @tablet-widths {
  .promo-video__video {
    position: static;
    margin-bottom: 0;
    width: 668px;
    height: 455px;
  }
  .promo-video__video::after {
    width: 668px;
    height: 455px;
  }
}

@media @desktop-widths {
  .promo-video__video {
    position: static;
    margin: 0;
    width: 682px;
    height: 455px;
  }
}

.promo-video__text {
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 24px;
  color: @color-grey;
}

@media @tablet-widths {
  .promo-video__text {
    margin-bottom: 35px;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
  }
}

@media @desktop-widths {
  .promo-video__text {
    margin-bottom: 45px;
  }
}

.promo-video__purchase-btn {
  width: 190px;
}

@media @tablet-widths {
  .promo-video__purchase-btn {
    box-sizing: border-box;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 585px;
  }
}

@media @desktop-widths {
  .promo-video__purchase-btn {
    width: 230px;
  }
}
