.reviews {
  margin-bottom: 44px;
  padding: 0 30px;
  outline: 1px solid grey;
}

@media @tablet-widths {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    padding: 0 50px;
    padding-top: 78px;
    padding-bottom: 43px;
    margin-bottom: 70px;
  }
}

@media @desktop-widths {
  .reviews {
    padding-left: 225px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 95px;
    margin-bottom: 65px;
  }
}

.reviews__title {
  padding: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: @color-black;
}

@media @tablet-widths {
  .reviews__title {
    margin: 0;
    margin-bottom: 30px;
    margin-right: 307px;
    font-size: 43px;
    line-height: 50px;
    order: 1;
    outline: 1px solid red;
  }
}

@media @desktop-widths {
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__item {
  margin-bottom: 32px;
}

@media @tablet-widths {
  .reviews__item {
    order: 3;
    margin: 0;
    outline: 1px solid green;
  }
}

@media @desktop-widths {
  .reviews__item {
  }
}

.reviews__text-review {
  margin-bottom: 31px;
  font-size: 15px;
  line-height: 30px;
  color: @color-grey;
}

@media @tablet-widths {
  .reviews__text-review {
    margin-bottom: 57px;
    font-size: 17px;
  }
}

@media @desktop-widths {
  .reviews__text-review {
    margin-bottom: 40px;
    width: 800px;
  }
}

.reviews__author-name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @color-black;
}

@media @tablet-widths {
  .reviews__author-name {
    margin-bottom: 4px;
  }
}

.reviews__author-email {
  font-size: 17px;
  line-height: 30px;
  color: @color-grey;
}

.reviews__controls {
  display: inline-block;
  margin-bottom: 38px;
  width: 100%;
  font-size: 0;
  outline: 1px solid blue;
}

@media @tablet-widths {
  .reviews__controls {
    position: absolute;
    z-index: 2;
    margin: 0;
    bottom: 43px;
    right: 50px;
    width: 176px;
    height: 54px;
    order: 4;
  }
}

@media @desktop-widths {
  .reviews__controls {
    right: 50px;
    bottom: 95px;
  }
}

.reviews__prev {
  width:50%;
  height: 52px;
  font-size: 0;
  background-color: @color-white;
  border: 2px solid @color-grey-light;
  cursor: pointer;
}

.reviews__next {
  width: 50%;
  height: 52px;
  background-color: @color-white;
  border: 2px solid @color-grey-light;
  cursor: pointer;
}

.reviews__write {
  width: 260px;
}

@media @tablet-widths {
  .reviews__write {
    margin: 0;
    margin-bottom: 30px;
    order: 2;
    width: 174px;
  }
}

@media @desktop-widths {
  .reviews__write {
    margin-top: 10px;
    margin-right: 0;
    margin-left: auto;
    background-color: yellow;
  }
}
