.reviews {
  margin-bottom: 44px;
  padding: 0 30px;
  outline: 1px solid grey;
}

.reviews__title {
  padding: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: @color-black;
}

.reviews__item {
  margin-bottom: 32px;
}

.reviews__text-review {
  margin-bottom: 31px;
  font-size: 15px;
  line-height: 30px;
  color: @color-grey;
}

.reviews__author-name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @color-black;
}

.reviews__author-email {
  font-size: 17px;
  line-height: 30px;
  color: @color-grey;
}

.reviews__controls {
  display: inline-block;
  margin-bottom: 38px;
  width: 100%;
  font-size: 0;
  outline: 1px solid blue;
}

.reviews__prev {
  width:50%;
  height: 52px;
  font-size: 0;
  background-color: @color-white;
  border: 2px solid @color-grey-light;
  cursor: pointer;
}

.reviews__next {
  width: 50%;
  height: 52px;
  background-color: @color-white;
  border: 2px solid @color-grey-light;
  cursor: pointer;
}

.reviews__write {
  width: 260px;
}
