.social {
    padding: 0 30px;
    padding-top: 7px;
    padding-bottom: 11px;
}

@media @tablet-widths {
  .social {
    padding: 0;
    padding-top: 7px;
    margin: 0;
  }
}

.social__links {
    display: flex;
    box-sizing: border-box;
    padding: 0 59px;
    margin: 0;
    margin-bottom: 27px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

@media @tablet-widths {
  .social__links {
    width: 142px;
    margin: 0;
    padding: 0;
  }
}

.social-btn {
  text-decoration: none;
  font-size: 0;
  height: 22px;
  width: 22px;
}

.social-btn:hover path {
  fill: #46c1ae;
}

.social-btn:active path {
  opacity: 0.3;
}
