.social {
  margin: 0 auto;
  margin-top: 39px;
  padding: 0 30px;
  background-color: @color-grey-light2;
  outline: 1px solid violet;
}

.social__links {
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
  list-style: none;
  outline: 1px solid green;
}

.social__link {
  display: inline-block;
  text-align: top;
  height: 30px; /*temporary*/
}
