@color-grey: rgb(68, 68, 68);
@color-grey-light: rgb(236, 236, 236);
@color-grey-light2: rgb(241, 241, 241);
@color-grey-light3: rgb(210, 210, 210);
@color-grey-light4: rgb(248, 248, 248);
@color-black: rgb(0, 0, 0);
@color-white: rgb(255, 255, 255);
@color-aquamarine-medium: rgb(99, 209, 187);
@color-aquamarine-dark: rgb(86, 195, 178);

@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";
